<template>
  <form @submit.prevent="procesarFormulario">
    <input 
      type="text"
      class="form-control my-2"
      placeholder="Ingrese nombre"
      v-model.trim="tarea.nombre"
    > 
    <div class="form-check form-inline">
      <input 
        type="checkbox" 
        class="form-check-input" 
        id="check-1"
        v-model= "tarea.categorias" 
        value="javascript"
      >
      <label  for="check-1" class="form-check-label" >Javascript</label>
    </div>
    <div class="form-check form-inline">
      <input 
        type="checkbox" 
        class="form-check-input" 
        id="check-2"
        v-model= "tarea.categorias"
        value="nodejs"
      >
      <label  for="check-2" class="form-check-label" >Node.js</label>
    </div>
    <div class="mt-2">
      <div class="form-check form-inline">
        <input 
          type="radio" 
          id="radio1"
          class="form-check-input" 
          value="urgente"
          v-model= "tarea.estado"
        >
        <label for="radio1" class="form-check-label">Urgente</label>
      </div>
      <div class="form-check form-inline">
        <input 
          type="radio" 
          id="radio2"
          class="form-check-input" 
          value="relax"
          v-model= "tarea.estado"
        >
        <label for="radio2" class="form-check-label">Relax</label>
      </div>
    </div>
    <div class="mt-2">
      <input 
        type="number"
        class="form-control"
        v-model.number= "tarea.numero"
      >
    </div>

    <button class="btn btn-dark mt-5" type="submit" :disabled="activarBoton">ENVIAR</button>
  </form>
  <hr>

  <p>{{tarea}}</p>
  <probando-scoll />
  
</template>

<script>
import ProbandoScoll from '../components/probandoScoll.vue'

export default {
  name: 'Home',
  components: {
    ProbandoScoll
  },
  data() {
    return {
      tarea: {
        nombre: '',
        categorias: [],
        estado: '',
        numero: 0
      }
    }
  },
methods: {
  procesarFormulario(){
    console.log('Tarea')
    if(this.tarea.nombre ==='') {
      console.log('campo vacío')
      return
      }
    }
  },
  computed: {
    activarBoton(){
      return this.tarea.nombre.trim() === '' ? true : false
    }
  }
}
</script>
