<template>
<div class="mt100"></div>
  <div ref="parrafo" id="pupu">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Amet quidem, voluptatum iusto doloremque nesciunt repellendus, laborum illo doloribus praesentium quod impedit perspiciatis voluptate ratione sequi corporis alias quam soluta optio!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur consectetur neque eum aspernatur optio ad provident itaque animi a recusandae dignissimos, totam accusamus cumque tempore sequi facilis ex. Recusandae, saepe.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem dolor placeat unde animi esse nulla eligendi veniam praesentium! Praesentium aliquam laudantium in pariatur vero at aspernatur temporibus omnis dolore facere!</p>
  </div>
  <br>
  <br>
  <br>
  <div class="mt100">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Amet quidem, voluptatum iusto doloremque nesciunt repellendus, laborum illo doloribus praesentium quod impedit perspiciatis voluptate ratione sequi corporis alias quam soluta optio!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur consectetur neque eum aspernatur optio ad provident itaque animi a recusandae dignissimos, totam accusamus cumque tempore sequi facilis ex. Recusandae, saepe.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem dolor placeat unde animi esse nulla eligendi veniam praesentium! Praesentium aliquam laudantium in pariatur vero at aspernatur temporibus omnis dolore facere!</p>
  </div>
</template>

<script>
export default {
  props: {
  },
  data(){
    return {
      verticalScroll:  0,
      stop: false,
      ubicacionTop: 0,
      ubicacionBottom: 0,
    }
  },
  methods: {

    componentPosition(){
      this.ubicacionTop=this.$refs['parrafo'].getBoundingClientRect().top;
      this.ubicacionBottom=this.$refs['parrafo'].getBoundingClientRect().bottom;
      console.log(this.ubicacionTop)
      console.log(this.ubicacionBottom)
    },

    scrollTest() {
      this.verticalScroll = window.scrollY;
      var ubicacionActivo = this.ubicacionTop - 20;
      var ubicacionDesc = this.ubicacionBottom + 70;
      if((this.verticalScroll >=0 && this.verticalScroll < ubicacionActivo) || (this.verticalScroll > ubicacionDesc)){
        console.log(this.verticalScroll);
        this.stop = true;
      }else {
        this.stop = false;
      }
      this.suma();
    },    

    suma(){
      console.log(this.stop);
      var elementoselecc = document.getElementById('pupu');
      if (this.stop === false){
        console.log('entra en suma');
        elementoselecc.style.backgroundColor = '#ff0000';
      }
      else {
        elementoselecc.style.backgroundColor = 'none';
      }
      return
    },
  },  



  created(){
    window.addEventListener('scroll', this.scrollTest)
  },
    mounted(){
    this.componentPosition();
  },
  beforeDestroy(){
    window.removeEventListener('scroll', this.scrollTest)
  },
}
</script>

<style lang="css" scoped>
.mt100{
  margin-top: 100px;
}
</style>